/*
Template Name:Akono HTML Template
Description:A Business/Portfolio HTML Template
Author:Chris Creed
URL:http://www.chris-creed.com
*/	

@import "reset.css";
/* -------------------- */
/* -- General Styles -- */
/* -------------------- */
@font-face {
	font-family: Exo2-ExtraBold;
	src: url('../font/Exo2-ExtraBold.ttf');
}
#wrap{
	width:960px;
	margin:0 auto;
}
body{
	font-family:Exo2-ExtraBold;
	background-color:#fff;
	color:#555;
	line-height:24px;
	font-size:14px;
}
h1{
	font-size:38px;
	margin:0 0 30px 0;
}
h2{
	font-size:28px;
	margin:40px 0 30px 0;
}
h3{
	font-size:24px;
	margin:40px 0 20px 0;
}
h4{
	font-size:18px;
	margin:30px 0 15px 0;
}
h5{
	font-size:18px;
	margin:30px 0 5px 0;
}
p{
	margin:0 0 0px 0;
}
a{
	text-decoration:none;
	color:#ff4D00;
}
a:hover{
	color:#555;
	cursor:pointer;
}
.home{
	background:url(../images/home-bg.png) repeat-x;
}
.page{
	background:url(../images/page-bg.png) repeat-x;
}
.hide{
	display:none;
}
.title{
	margin-top:0;
}
.post-line{
	clear:both;
	border-bottom:1px #ddd dotted;
	margin:40px 0 45px 0;
}
.cache-images{
	display:none
}
/* ------------ */
/* -- Header -- */
/* ------------ */
#header{
	height:150px;
	padding:30px 0 0 0;
}
#header img, #header h1{
	float:left;
}
#header h1{
	font-size:50px;
	margin:32px 0 0 5px;
}
/* --------- */
/* -- Nav -- */
/* --------- */
#nav{
	float:right;
	margin:25px -15px 0 0;
}
.menu{
	padding:7px 6px 0 0;
}
.menu li{
	margin:0 5px;
	padding:0 0 8px;
	float:left;
	position:relative;
}
.menu a{
	display:block;
	padding: 8px 15px;
	margin:0;
	color:#555;
	text-decoration:none;
	font-size:20px;
}
.menu .current a, .menu li:hover > a{
	color:#ff4D00;
}
.menu ul li:hover a, .menu li:hover li a{
	color:#555;
}
.menu ul a:hover{
	background:#ff4D00 !important;
	color:#fff !important;
}
.menu ul{
	background:#eee;
	display:none;
	margin:0;
	padding:0;
	width:250px;
	position:absolute;
	top:35px;
	left:20px;
	border:solid 1px #ddd;
}
.menu li:hover > ul{
	display:block;
}
.menu ul li{
	float:none;
	margin:0;
	padding:0;
}
.menu ul a{
	font-size:16px;
}
.menu ul ul{
	left:250px;
	top:-3px;
}
.menu li.current_page_item a{
	color:#ff4D00;
}
.menu .sub-menu li.current_page_item a{
	color:#ff4D00;
}
/* ---------------------- */
/* -- Featured Section -- */
/* ---------------------- */
#featured-section{
	float:left;
	margin:10px 0 0 0;
}
#circles{
	float:left;
	margin:10px 0 0 0;
}
#circles img{
	float:left;
	border:none !important;
	margin:0 0 0 36px;
	width:950px;
	height:350px;
}
#featured-section .circle-red{
	background:url(../images/circle-red.png) no-repeat;
}
#featured-section .circle-pink{
	background:url(../images/circle-pink.png) no-repeat;
}
#featured-section .circle-orange{
	background:url(../images/circle-orange.png) no-repeat;
}
#featured-section .circle-yellow{
	background:url(../images/circle-yellow.png) no-repeat;
}
#featured-section .first{
	margin-left:0;
}
/* ------------------ */
/* -- Image Slider -- */
/* ------------------ */
#featured-section #image-slider{
	float:left;
	background:url(../images/img-slider-bg.png) repeat-x;
	width:960px;
	height:250px;
	margin:50px 0 0 0;
	border:1px #ddd solid;
	background-color:#fff;
}
.jcarousel-container-horizontal{
	float:left;
	margin:15px 0 0 30px !important;
}
#image-slider #mycarousel li{
	float:left;
	width:264px;
	height:260px;
	margin:0 0 0 0px;
}
#image-slider #mycarousel li.first{
	margin-left:0;
}
#image-slider #mycarousel img{
	margin:9px 0 0 9px;
	padding:5px;
	border:1px #ddd solid;
	width:240px;
	height:165px;
}
.jcarousel-prev-horizontal{
	margin:90px 0 0 -18px;
}
.jcarousel-next-horizontal{
	margin:90px 50px 0 0;
}
/* ---------------- */
/* -- Front Page -- */
/* ---------------- */
#frontpage-main{
	float:left;
	margin:115px 0 50px 0;
	background-color:#fff;
}
#frontpage-main h3{
	margin-top:0;
}
#frontpage-content{
	float:left;
	width:379px;
	padding:0 100px 0 0;
	border-right:1px #ddd dotted;
}
#frontpage-content p{
	font-size:16px;
	line-height:24px;
}
#frontpage-sidebar{
	float:right;
	width:380px;
	padding:0 0 0 100px;
}
#frontpage-sidebar .meta, #frontpage-sidebar .meta a{
	color:#aaa;
	font-size:18px;
}
#frontpage-sidebar .blog-title{
	font-size:18px;
}
#frontpage-sidebar .read-more{
	display:block;
	background:url(../images/blue-button-bg.png) no-repeat;
	width:141px;
	height:34px;
	color:#fff;
	text-align:center;
	padding:5px 0;
}
#frontpage-sidebar .read-more:hover{
	background:url(../images/red-button-bg.png) no-repeat;
}
.blue-bullets{
	float:left;
	margin:10px 0 0 0;
}
.blue-bullets li{
	background:url(../images/orange-bullet.png) no-repeat;
	height:21px;
	position:relative;
	padding:0px 0 18px 35px;
}
/* ------------- */
/* -- Content -- */
/* ------------- */
#main{
	float:left;
	margin:90px 0 50px 0;
	width:100%;
}
#content{
	float:left;
	width:480px;
	padding:0 165px 0 0;
}
/* ---------- */
/* -- Page -- */
/* ---------- */
.page-headline{
	font-size:36px;
	margin:-5px 0 0 0;
}
/* --------------- */
/* -- Portfolio -- */
/* --------------- */
#porfolio-content{
	margin:30px 0 0 0;
}
.portfolio-item{
	float:left;
	margin:0 0 20px 30px;
}
.first{
	margin-left:0;
}
.portfolio-item img{
	border-radius: 20px;
	border:1px #ddd solid;
}
/* ------------- */
/* -- Project -- */
/* ------------- */
#project-content{
	float:left;
	width:480px;
}
#project-header{
	margin:0 0 25px 0;
}
#project-content h3{
	margin:0 0 10px 0;
}
#project-content h3 span{
	color:#888;
}
#project-image-large img{
	float:right;
	border:1px #ddd solid;
}
#project-content .read-more{
	display:block;
	background:url(../images/blue-button-bg.png) no-repeat;
	width:141px;
	height:34px;
	color:#fff;
	text-align:center;
	padding:5px 0;
	margin:25px 0 0 0;
}
#project-content .read-more:hover{
	background:url(../images/red-button-bg.png) no-repeat;
}
/* ----------- */
/* -- Posts -- */
/* ----------- */
.post-title{
	margin:0;
}
.post-title a{
	font-size:24px;
	color:#555;
}
.post-title a:hover{
	font-size:24px;
	color:#ff4D00;
}
.post-meta, .post-meta a{
	margin:5px 0 20px 0;
	font-size:18px;
	color:#888;
}
.more-link{
	display:block;
	background:url(../images/blue-button-bg.png) no-repeat;
	width:141px;
	height:34px;
	color:#fff;
	text-align:center;
	padding:5px 0;
	margin:25px 0 0 0;
}
.more-link:hover{
	background:url(../images/red-button-bg.png) no-repeat;
	color:#fff;
}
/* ------------- */
/* -- Sidebar -- */
/* ------------- */
#sidebar{
	float:left;
	width:315px;
	margin:0;
}
#sidebar .sidebar-title{
	margin-top:0;
}
#sidebar .sidebar-button{
	clear:both;
	display:block;
	background:url(../images/orange-button-bg.png) no-repeat;
	width:141px;
	height:34px;
	color:#fff;
	text-align:center;
	padding:5px 0;
}
#sidebar .sidebar-button:hover{
	background:url(../images/black-button-bg.png) no-repeat;
}
.recent-projects{
	clear:both;
}
#sidebar .portfolio-item{
	clear:both;
	margin:0 0 20px 0;
}
/* ------------------ */
/* -- Contact Form -- */
/* ------------------ */
#contact-details{
	float:left;
	width:300px;
	padding:0 120px 0 0;
}
#contact-details .title{
	margin-top:0;
}
#contact-details h4{
	margin:0 0 5px 0;
}
#contact-details span{
	color:#888;
}
#contact-form-container{
	float:left;
	width:450px;
}
#contact-form input{
	background:url(../images/textinput-bg.png) repeat-x;
	border:1px #ddd solid;
	padding:15px;
	width:250px;
	margin:0 0 15px 0;
	font-size:12px;
	color:#555;
	font-family:arial, sans-serif;
}
#contact-form textarea{
	background:url(../images/textarea-bg.png) repeat-x;
	border:1px #ddd solid;
	padding:15px;
	width:350px;
	margin:0 0 15px 0;
	font-size:12px;
	color:#555;
	line-height:18px;
	height:150px;
	font-family:arial, sans-serif;
}
#contact-form .submit{
	display:block;
	background:url(../images/blue-button-bg.png) no-repeat;
	width:141px;
	height:34px;
	color:#fff;
	text-align:center;
	padding:5px 0;
	margin:25px 0 0 0;
	border:none;
	cursor:pointer;
	font-size:12px;
	margin:0 0 0 0;
}
#contact-form .submit:hover{
	background:url(../images/red-button-bg.png) no-repeat;
	color:#fff;
}
#response{
	background-color:#eee;
	border:1px #ddd solid;
	padding:10px;
	color:#ff0000;
}
/* ------------ */
/* -- Footer -- */
/* ------------ */
#footer{
	float:left;
	border-top:1px #ddd dotted;
	margin:20px 0 0 0;
	padding:15px 0 50px 0;
	width:100%;
}

/* ------------ */
/* -- Search -- */
/* ------------ */



/* ----------- */
/* -- Audio -- */
/* ----------- */

audio {
    width: 950px;
    height: 30px;
}
audio::-webkit-media-controls-panel{
	background: gray;
}
#prokrutka {
	height:400px; /* высота нашего блока */
	width: 950px;
	background: #fff; /* цвет фона, белый */
	border: 1px solid #C1C1C1; /* размер и цвет границы блока */
	overflow-y: scroll; /* прокрутка по вертикали */
}

#prokrutka::-webkit-scrollbar {
	width: 10px;
	background-color: #f9f9fd;
	
}
  
#prokrutka::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #ff0000;
}
  
#prokrutka::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	border-radius: 10px;
	background-color: #f9f9fd;
}

::-webkit-scrollbar {
	width: 10px;
	background-color: #f9f9fd;
	
}
  
::-webkit-scrollbar-thumb {
	background-color: #ff0000;
}
  
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	background-color: #f9f9fd;
}

.text-field__input {
	display: block;
	width: 100%;
	height: calc(2.25rem + 2px);
	padding: 0.375rem 0.75rem;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #bdbdbd;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse; 
}
table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
table td {
	border: 1px solid #dddddd;
	padding: 5px;
}